@CHARSET "ISO-8859-1";

.panelForm{
	width: 100%;
}

.panel_inf_proj tr, .panelForm td {
	border-style: hidden !important;
}

.panelForm tr, .panelForm td {
	border-style: hidden !important;
}


.colLabel{
	text-align: right;
	font-weight: bold;
}
.colInput{
	 
}


.container-action{
	text-align: right;
}
.container-action .ui-button{
	margin: 20px;
	height: 50px;
	width: 200px;
}

.container-action-novo{
	text-align: left;
}
.container-action-novo .ui-button{
	margin: 20px;
	height: 40px;
	width: 150px;
}

