@CHARSET "ISO-8859-1";

/*
	MENU
*/
.menu_principal{
	width: 100% !important;
}
.submenu{
	font-size: 14px;
}
.itemmenu{
	font-size: 12px;
}

/*
	LAYOUT
*/
body{
	margin:0;
	font-size: 12px;
}
.header{
	height: 100px;
	position:relative;
	top: 0;
	background-color: #f5f5f5;
	border: 1px solid #eeeeee;
	margin-bottom: 10px;
}
.infUsuario{
	border-left: 2px solid white;;
	height: 100%;
	width: 300px;
	position: relative;
	float: right;
	padding: 5px;
}
.titulo{
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-size: 17px;
	height: 100%;
	width: 400px;
	position: relative;
	float: left;
	padding: 5px;
}

.menu{
	margin-left: 10px;
	margin-right: 20px;
	width: 15%;
	float: left;
}
.conteudo{
	float:left;
	width:82%;
	/* background-color: blue; */
}